# For Streamlit/S3 mode:
DATA_SOURCE=s3
S3_BUCKET=your-bucket-name
S3_KEY_PROFILES=datasets/beer_profiles.csv
S3_KEY_DESCRIPTORS=datasets/beer_profiles.csv
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-central-1